<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f905a16-d243-46b1-bcc3-00ad9c03f06a/resourcegroups/GeraldoLanchesRelease/providers/Microsoft.Web/sites/GeraldoLanches</ResourceId>
    <ResourceGroup>GeraldoLanchesRelease</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://geraldolanches.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c5b325d8-aaf8-4763-9978-9f97d132727d</ProjectGuid>
    <PublishUrl>https://geraldolanches.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GeraldoLanches</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>