
<div class="container">
    <img class = "img-fluid" src= "~/Imagens/fale-conosco.png" />
    <div class = "contact-bar">
        <stam>
            <img src= "~/Imagens/icons8-enviar-e-mail-em-massa-32.png" />
            <email class = "text-light" endereco = "geraldo.lanches_atendimento@gmail.com" conteudo="Email: geraldo.lanches_atendimento@gmail.com"></email>
        </stam>
    </div>
    <div class = "contact-bar">
        <stam class = "text-light">
            <img  src = "~/Imagens/icons8-rede-phonelink-32.png" />
            Telefone: (12) 36526498
        </stam>
    </div>
    <div class = "contact-bar">
         <stam>
            <img src= "~/Imagens/icons8-whatsapp-32.png" />
            <a class = "text-light" href = "https://api.whatsapp.com/send?phone=5512997532631">Whatsapp: (12) 997532631</a>
        </stam>
    </div>
    <div class = "contact-bar">
        <stam>
            <img src = "~/Imagens/icons8-pedido-entregue-32.png" />
            <a class = "text-light" href = "https://goo.gl/maps/CFBtM5Yqs6MFhJkg8" target ="_blank">Endereço: Praça Yamagata, 61 - Jardim Oriente, SJC</a>
        </stam>
    </div>
</div>